.category_wrap{margin:0 auto;width:960px;color:#404040;font:12px/18px "\5b8b\4f53",Arial;}
.category_wrap a{text-decoration:none;color:#1a66b3;}
.category_wrap a:hover{text-decoration:underline}
.category_wrap .imageElement{font-size:0;line-height:0;overflow:hidden;}
.category_wrap .hidden{display:none;}

.top_banner{font-size:0;line-height:0;margin:0 auto;overflow:hidden;width:960px;}
.top_banner p{margin-top:10px;}

.breadcrumb{height:18px;overflow:hidden;padding:14px 0 4px;width:960px;padding:15px 0 3px\9;}
.breadcrumb span{color:#404040;padding:0 8px;}
.breadcrumb .current{color:#666;padding:0;}
.breadcrumb .keyword{font-size:14px;font-weight:bold;}
.breadcrumb em{color:#c30;font-weight:bold;padding:0 8px;}
.breadcrumb .righttip{float:right;padding:0;}
.breadcrumb .righttip a{padding:0 5px;}

.category_siderbar{float:left;margin-top:10px;overflow:hidden;width:220px;}

.category_panel{border:1px solid #f7d1b5;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.category_panel h2{background:#f99133;color:#fff;font-size:14px;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.category_panel .corner{background:url(/content/images/bg_category_panel.png) no-repeat;position:absolute;}
.category_panel .left_top{background-position:0 -23px;height:3px;left:-1px;top:-1px;width:3px;}
.category_panel .right_top{background-position:0 -32px;height:3px;right:-1px;top:-1px;width:3px;}
.category_panel .left_bottom{background-position:0 -41px;height:2px;bottom:-1px;left:-1px;width:2px;}
.category_panel .right_bottom{background-position:0 -50px;height:2px;bottom:-1px;right:-1px;width:2px;}
.category_panel_content{position:relative;overflow:hidden;width:216px;}
.category_panel .unfold{height:332px;}
.category_panel_content h3{background:url(/content/images/bg_category_panel.png) repeat-x 0 0;border-bottom:1px solid #ebebeb;color:#1a66b3;height:23px;overflow:hidden;}
.category_panel_content .last{margin-bottom:1px;}
.category_panel_content h3 a{display:block;height:18px;position:relative;padding:3px 0 2px 25px;padding:4px 0 1px 25px\9;}
.category_panel_content h3 a span{cursor:pointer;display:inline-block;font-weight:bold;}
.category_panel_content .icon{background:url(/content/images/bg_category_panel.png) no-repeat -5px -32px;height:9px;left:11px;width:9px;position:absolute;top:7px;}
.category_panel_content .active .icon{background-position:-5px -23px;}
.category_panel_content .none,.category_panel_content .active .none{background-position:-5px -41px;cursor:default;}
.category_panel_content .current span,.category_panel_content .current a:hover,.category_panel_content .current a:hover span,.category_panel_content a.current:hover,.category_panel_content a.current:hover span{color:#7c470f;cursor:default;font-weight:bold;text-decoration:none;}
.category_panel_content ul{padding:4px 0 3px 25px;position:relative;}
.category_panel_content li{vertical-align:middle;padding:1px 0;}
.category_panel_subcontent{border-bottom:1px solid #ebebeb;overflow-x:hidden;overflow-y:auto;position:relative;width:216px;}
.category_panel_content .btn{background:#ffedd0;bottom:0;color:#666;display:block;height:18px;left:0;padding:4px 0 1px 74px;position:relative;width:112px;padding:5px 0 0 74px\9;}
.category_panel_content a.btn:hover{text-decoration:none;}
.category_panel_content .btn span{cursor:pointer;display:inline-block;}
.category_panel_content .btn_icon{background:url(/content/images/bg_category_panel.png) no-repeat;height:5px;left:61px;position:absolute;top:11px;width:9px;}
.category_panel_content .icon_down{background-position:-5px -50px;}
.category_panel_content .icon_up{background-position:-5px -55px;}
.category_panel_content .max{height:187px;}

.declined_biggest{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.declined_biggest h2{background:url(/content/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.declined_biggest .corner{background:url(/content/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.declined_biggest .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.declined_biggest .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.declined_biggest_content{border:1px solid #f4f4f4;padding:4px 4px 0 4px;}
.declined_biggest_content ul{}
.declined_biggest_content ul li{background:url(/content/images/bg_siderbar_module.png) no-repeat 6px -45px;border-top:1px solid #f4f4f4;color:#666;display:block;height:18px;padding:5px 0 5px 15px;overflow:hidden;vertical-align:middle;width:161px;padding:6px 0 4px 15px\9;}
.declined_biggest_content ul li.first{border:none;}
.declined_biggest_content ul li span{float:left;height:18px;overflow:hidden;width:108px;}
.declined_biggest_content ul li.active{background:none;height:56px;padding:11px 0 11px 6px;width:170px;}
.declined_biggest_content ul .active .pic{border:1px solid #ddd;float:left;height:54px;width:54px;}
.declined_biggest_content ul .active .pic a{display:block;height:54px;overflow:hidden;text-align:center;width:54px;}
.declined_biggest_content ul .active .detail{float:left;overflow:hidden;padding-left:8px;width:96px;}
.declined_biggest_content ul .active .detail a{color:#666;display:block;height:36px;overflow:hidden;}
.declined_biggest_content ul .active .detail a:hover{color:#f60;}
.declined_biggest_content ul .active .detail .description{color:#878787;margin-top:3px;}
.declined_biggest_content ul .active .detail .description span{cursor:default;width:auto;}
.declined_biggest_content ul li .down{background:url(/content/images/bg_siderbar_module.png) no-repeat 0 -32px;color:#c30;float:right;height:18px;overflow:hidden;padding:0 7px 0 9px;width:18px;padding:1px 7px 0 9px\9;}
.declined_biggest_content ul .active .detail .description .down{float:left;margin-left:5px;}

.others_attention{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.others_attention h2{background:url(/content/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.others_attention .corner{background:url(/content/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.others_attention .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.others_attention .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.others_attention_content{border:1px solid #f4f4f4;padding:4px 4px 0 4px;}
.others_attention_content ul{}
.others_attention_content ul li{background:url(/content/images/bg_siderbar_module.png) no-repeat 6px -45px;border-top:1px solid #f4f4f4;color:#666;display:block;height:18px;padding:5px 0 5px 15px;overflow:hidden;vertical-align:middle;width:161px;padding:6px 0 4px 15px\9;}
.others_attention_content ul li.first{border:none;}
.others_attention_content ul li.active{background:none;height:56px;padding:11px 0 11px 6px;width:170px;}
.others_attention_content ul .active .pic{border:1px solid #ddd;float:left;height:54px;width:54px;}
.others_attention_content ul .active .pic a{display:block;height:54px;overflow:hidden;text-align:center;width:54px;}
.others_attention_content ul .active .detail{float:left;overflow:hidden;padding-left:8px;width:96px;}
.others_attention_content ul .active .detail a{color:#666;display:block;height:36px;overflow:hidden;}
.others_attention_content ul .active .detail a:hover{color:#f60;}
.others_attention_content ul .active .detail .price{margin-top:2px;width:96px;}
.others_attention_content ul .active .detail .price_d{color:#c30;font-family:Arial;}
.others_attention_content ul .active .detail .price_d em{padding-left:1px;}
.others_attention_content ul li span{display:block;height:18px;overflow:hidden;width:156px;}

.search_history{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.search_history h2{background:url(/content/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.search_history .corner{background:url(/content/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.search_history .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.search_history .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.search_history_content{overflow:hidden;padding:4px 8px 0 8px;width:170px;}
.search_history_content ul{}
.search_history_content ul li{background:url(/content/images/bg_siderbar_module.png) no-repeat 6px -45px;color:#666;display:block;height:18px;padding:5px 0 5px 13px;overflow:hidden;position:relative;vertical-align:middle;padding:6px 0 4px 13px\9;}
.search_history_content ul li .num{background:url(/content/images/bg_list_num.png) no-repeat 0 0;color:#fff;display:inline-block;font:11px/12px Arial;height:12px;left:6px;position:absolute;text-align:center;top:8px;width:12px;}
.search_history_content ul li a{color:#666;display:inline-block;height:18px;overflow:hidden;width:156px;}
.search_history_content ul li a:hover{color:#f60;}
.search_history_content ul li.search_history_btn{background:none;border-top:1px solid #dadada;padding-right:5px;text-align:right;}
.search_history_content .nohistory_wrapper{display:table;float:left;height:57px;overflow:hidden;width:170px;*position:relative;}
.search_history_content .nohistory_content{display:table-cell;vertical-align:middle;*position:absolute;*top:50%;}
.search_history_content .nohistory{*position:relative;*top:-50%;}
.search_history_content .nohistory p{color:#666;text-align:center;width:170px;}

.browsing_history{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.browsing_history h2{background:url(/content/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.browsing_history .corner{background:url(/content/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.browsing_history .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.browsing_history .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.browsing_history_content{border:1px solid #f4f4f4;overflow:hidden;padding:4px 4px 0 4px;width:206px;}
.browsing_history_content ul{}
.browsing_history_content ul li{border-top:1px solid #f4f4f4;color:#666;display:block;height:56px;padding:10px 0 10px 6px;overflow:hidden;vertical-align:middle;width:170px;}
.browsing_history_content ul li.first{border:none;}
.browsing_history_content ul li .pic{border:1px solid #ddd;float:left;height:54px;width:54px;}
.browsing_history_content ul li .pic a{display:block;height:54px;overflow:hidden;text-align:center;width:54px;}
.browsing_history_content ul li .detail{float:left;overflow:hidden;padding-left:8px;width:96px;}
.browsing_history_content ul li .detail a{color:#666;display:block;height:36px;overflow:hidden;}
.browsing_history_content ul li .detail a:hover{color:#f60;}
.browsing_history_content ul li .detail .price{margin-top:2px;width:96px;}
.browsing_history_content ul li .detail .price_d{color:#c30;font-family:Arial;}
.browsing_history_content ul li .detail .price_d em{padding-left:1px;}
.browsing_history_content ul li.browsing_history_btn{height:18px;overflow:hidden;padding:2px 7px 4px 0;text-align:right;padding:3px 7px 3px 0\9;}
.browsing_history_content ul li.browsing_history_btn a{color:#666;float:right;}
.browsing_history_content ul li.browsing_history_btn a:hover{color:#f60;}
.browsing_history_content .nohistory_wrapper{display:table;float:left;height:101px;overflow:hidden;width:170px;*position:relative;}
.browsing_history_content .nohistory_content{display:table-cell;vertical-align:middle;*position:absolute;*top:50%;}
.browsing_history_content .nohistory{*position:relative;*top:-50%;}
.browsing_history_content .nohistory p{color:#666;text-align:center;width:170px;}

.search_toplist{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.search_toplist h2{background:url(/content/images/bg_siderbar_module.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.search_toplist .corner{background:url(/content/images/bg_siderbar_module.png) no-repeat;position:absolute;}
.search_toplist .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.search_toplist .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.search_toplist_content{border:1px solid #f4f4f4;padding:4px 4px 0 4px;}
.search_toplist_content ul{}
.search_toplist_content ul li{border-top:1px solid #f4f4f4;color:#666;display:block;height:18px;padding:5px 0 5px 22px;overflow:hidden;position:relative;vertical-align:middle;width:154px;padding:6px 0 4px 22px\9;}
.search_toplist_content ul li.first{border-top:none;}
.search_toplist_content ul li .num{background:url(/content/images/bg_list_num.png) no-repeat 0 0;color:#fff;display:inline-block;font:11px/12px Arial;height:12px;left:6px;position:absolute;text-align:center;top:8px;width:12px;}
.search_toplist_content ul li a{color:#666;display:inline-block;height:18px;overflow:hidden;width:144px;}
.search_toplist_content ul li a:hover{color:#f60;}
.search_toplist_content ul li .search_toplist_btn{padding-left:5px;text-align:right;}

/*搜索左侧站外摩天楼*/
.schleft_tabad {color: #404040;position: relative;margin-bottom:10px; overflow:hidden; width:220px;}
.schleft_tabad_title { overflow:hidden; width:188px;background:url(/content/images/sprite_ad.png) repeat-x 0 0;border-left:1px solid #dcdddd;border-right:1px solid #dcdddd;}
.schleft_tabad_title li { padding-left:10px; height:30px; line-height:30px; float:left;}
.schleft_tabad_title a {display:block;color:#404040; cursor:default; text-decoration:none; font-weight:bold;}
.schleft_tabad2 li,.schleft_tabad3 li,.schleft_tabad4 li {width:93px; padding:0;text-align:center;border-left:1px solid #dcdddd;}
.schleft_tabad2 li a,.schleft_tabad3 li a,.schleft_tabad4 li a { font-weight:normal;}
.schleft_tabad2 li a:hover,.schleft_tabad2 li a.active,.schleft_tabad3 li a:hover,.schleft_tabad3 li a.active,.schleft_tabad4 li a:hover,.schleft_tabad4 li a.active{ font-weight:bold; height:29px; line-height:28px; background:#fff; margin-top:1px; text-decoration:none;color:#404040;}
.schleft_tabad_title .tabad_first,.schleft_tabad_title .tabad_first a:hover,.schleft_tabad_title .tabad_first a.active{ border:none; width:94px; padding-right:0;}
.schleft_tabad3{ width:189px; border-left:none;}
.schleft_tabad3 li{width:62px;}
.schleft_tabad4 li{width:46px;}
.schleft_tabad4 .tabad_first,.schleft_tabad4 .tabad_first a:hover,.schleft_tabad4 .tabad_first a.active { border:none;width:46px; padding-right:1px;_width:47px;_padding-right:0;}
.schleft_tabad_cont{ position:relative; width:188px; height:270px; overflow:hidden;border:1px solid #dcdddd; border-top:none;}

/*搜索左侧站内摩天楼*/
.list_left_ad{ width:188px; overflow:hidden;border: 1px solid #dcdddd;margin-bottom: 10px; position:relative;}
.list_left_ad a{ width:188px; height:270px; display:block; overflow:hidden; text-align:center;}
.icon_ad{background:url(/content/images/sprite_ad.png) no-repeat 0 -30px; bottom:0; display:block; height:14px; line-height:48px; overflow:hidden; position:absolute; right:0; width:38px; z-index:400;}

.merchants_hotsale{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:216px;}
.merchants_hotsale h2{background:url(/content/images/bg_merchants_hotsale.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.merchants_hotsale .corner{background:url(/content/images/bg_merchants_hotsale.png) no-repeat;position:absolute;}
.merchants_hotsale .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.merchants_hotsale .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.merchants_hotsale_content{background:#e5e5e5;padding:3px;overflow:hidden;width:180px;}
.merchants_hotsale_content ul{}
.merchants_hotsale_content ul li{border-top:1px solid #d2d2d2;color:#666;display:block;overflow:hidden;padding:12px;width:156px;}
.merchants_hotsale_content ul li.first{border-top:none;}
.merchants_hotsale_content ul li .pic{border:1px solid #d2d2d2;height:120px;margin:0 17px;width:120px;}
.merchants_hotsale_content ul li .pic a{background:#fff;display:block;height:120px;overflow:hidden;text-align:center;width:120px;}
.merchants_hotsale_content ul li .price{margin-top:3px;text-align:center;}
.merchants_hotsale_content ul li .price .price_d{color:#666;font-family:Arial;font-weight:bold;}
.merchants_hotsale_content ul li .price .price_d em{padding-left:1px;}
.merchants_hotsale_content ul li .detail{width:156px;}
.merchants_hotsale_content ul li .detail a{color:#666;}
.merchants_hotsale_content ul li.merchants_hotsale_btn{padding:7px 8px 4px 0;width:172px;padding:8px 8px 3px 0\9;}
.merchants_hotsale_content ul li.merchants_hotsale_btn a{color:#666;display:block;text-align:right;}
.merchants_hotsale_content ul li a:hover{color:#f60;}

.category_main{float:right;margin-top:10px;width:760px;}

.concordance_top{height:18px;overflow:hidden;padding:7px 0 6px 9px;padding:8px 0 5px 9px\9;}
.concordance_top p{height:18px;overflow:hidden;}
.concordance_top a{margin-right:30px;}

.slide_ad{background:url(/content/images/bg_slide_ad.png) repeat-x 0 -56px;border:1px solid #edd8b0;height:116px;margin-bottom:10px;position:relative;width:758px;}
.slide_ad .corner{background:url(/content/images/bg_slide_ad.png) no-repeat;position:absolute;}
.slide_ad .left_top{background-position:0 0;height:5px;left:-1px;top:-1px;width:5px;}
.slide_ad .right_top{background-position:-5px 0;height:5px;right:-1px;top:-1px;width:5px;}
.slide_ad .left_bottom{background-position:0 -5px;height:5px;bottom:-1px;left:-1px;width:5px;}
.slide_ad .right_bottom{background-position:-5px -5px;height:5px;bottom:-1px;right:-1px;width:5px;}
.slide_ad .icon{background:url(/content/images/bg_slide_ad.png) no-repeat 0 -11px;height:45px;left:0;position:absolute;top:0;width:45px;}
.slide_ad .btn_prev{float:left;height:72px;overflow:hidden;margin-top:45px;position:relative;width:39px;}
.slide_ad .btn_prev span{background:url(/content/images/bg_slide_ad.png) no-repeat -10px 0;display:block;height:11px;left:15px;overflow:hidden;position:absolute;top:8px;width:6px;}
.slide_ad .btn_next{float:right;height:116px;overflow:hidden;position:relative;width:39px;}
.slide_ad .btn_next span{background:url(/content/images/bg_slide_ad.png) no-repeat -16px 0;display:block;height:11px;overflow:hidden;position:absolute;right:17px;top:52px;width:6px;}
.slide_ad .bof,.slide_ad .eof{cursor:default;}
.slide_ad .bof span{background:url(/content/images/bg_slide_ad.png) no-repeat -22px 0;}
.slide_ad .eof span{background:url(/content/images/bg_slide_ad.png) no-repeat -28px 0;}
.slide_ad_content{height:116px;overflow:hidden;width:760px;}
.slide_ad_content .slideitem{float:left;margin:12px 0 12px 28px;overflow:hidden;width:208px;}
.slide_ad_content .first{margin-left:0;}
.slide_ad_content .slideitem .pic{border:1px solid #e0e0e0;float:left;height:90px;width:90px;}
.slide_ad_content .slideitem .pic a{display:block;height:90px;overflow:hidden;text-align:center;width:90px;}
.slide_ad_content .slideitem .detail{float:left;margin-left:8px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .title{height:54px;margin-bottom:3px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .title .tip{color:#666;display:block;}
.slide_ad_content .slideitem .detail .title span{cursor:default;}
.slide_ad_content .slideitem .detail .title a.tip:hover{color:#f60;}
.slide_ad_content .slideitem .detail .price{height:18px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .price .price_m{background:url(/content/images/bg_price_del.png) repeat-x 0 9px;color:#9c9c9c;font-family:Arial;font-size:11px;}
.slide_ad_content .slideitem .detail .price .price_d{color:#c30;font-family:Arial;font-weight:bold;}
.slide_ad_content .slideitem .detail .price .price_d em{padding-left:1px;}

.list_tab_panel{border-bottom:2px solid #f99439;height:28px;margin-bottom:10px;position:relative;width:760px;}
.list_tab_panel a{background:url(/content/images/tab.png) no-repeat right 0;display:inline;float:left;height:28px;margin:0 5px 0 0;overflow:hidden;text-decoration:none;}
.list_tab_panel a span{background:url(/content/images/tab.png) no-repeat -195px -35px;color:#404040;display:inline-block;height:23px;font-size:14px;padding:7px 20px 0;height:22px\9;padding:8px 20px 0\9;}
.list_tab_panel a:hover{text-decoration:none;}
.list_tab_panel a:hover span{cursor:pointer;}
.list_tab_panel a.none,.list_tab_panel a.none span,.tab_panel a.none:hover span{color:#878787;cursor:default;}
.list_tab_panel a.active{background:url(/content/images/tab.png) no-repeat right -70px;height:30px;cursor:default;overflow:hidden;position:relative;text-decoration:none;z-index:100;margin-bottom:-2px;}
.list_tab_panel a.active span{background:url(/content/images/tab.png) no-repeat -195px -105px;color:#7c470f;font-weight:bold;cursor:default;}
.list_tab_panel a.active:hover span{cursor:default;}

.conditional_filter{margin-bottom:10px;width:758px;line-height:18px;border:1px solid #f4e2c0;}
.conditional_filter span,.conditional_filter a{float:left;display:inline;padding:3px 6px 0;height:18px;}
.conditional_filter span{cursor:default;}
.conditional_filter .checked{color:#7c470f;font-weight:bold;}
.conditional_filter .top_panel{position:relative;height:29px;background:url(/content/images/bg_condition_top.png) repeat-x 0 0;overflow:hidden;}
.conditional_filter .top_panel h2{padding:6px 0 0 15px;width:653px;height:23px;font-weight:bold;overflow:hidden;}
.conditional_filter .top_panel a.reset{display:block;float:none;position:absolute;right:15px;top:6px;padding:0;}
.conditional_filter .hidden,.conditional_filter .top_panel a.hidden{display:none;}
.conditional_filter .condition_panel{overflow:hidden;width:758px;}
.conditional_filter .condition_panel .list{border-bottom:1px solid #f4f4f4;margin:0 14px;padding:4px 1px 7px;width:728px;overflow:hidden;position:relative;}
.conditional_filter .condition_panel .last{border:none;}
.conditional_filter .condition_panel .list .tip{float:left;display:inline;width:125px;background:url(/content/images/bg_condition_sep.gif) no-repeat 122px 7px;}
.conditional_filter .condition_panel .list .tip span{padding:3px 0 0;width:84px;text-align:right;overflow:hidden;}
.conditional_filter .condition_panel .list .tip span.checked{padding:3px 6px 0;width:auto;}
.conditional_filter .condition_panel .list .conditions{float:left;display:inline;width:544px;overflow:hidden;}
.conditional_filter .condition_panel .list .conditions a,.conditional_filter .condition_panel .list .conditions span{margin-right:19px;white-space:nowrap;}
.conditional_filter .condition_panel .list .panel_fold{height:21px;overflow:hidden;}
.conditional_filter .condition_panel .list .btn_more{position:absolute;bottom:4px;right:15px;height:20px;width:61px;overflow:hidden;}
.conditional_filter .condition_panel .list .btn_more a{background:url(/content/images/btn_multicheck.gif) no-repeat 0 0;display:block;height:20px;padding:0;width:61px;}
.conditional_filter .condition_panel .multicheck{position:relative;background:#fdf9f6;border:1px solid #dfc9b2;left:0;margin:-1px;padding:6px 15px;*padding:6px 15px 10px;}
.conditional_filter .condition_panel .multicheck span{display:inline;float:left;padding:3px 16px 2px 6px;white-space:nowrap;width:89px;overflow:hidden;}
.conditional_filter .condition_panel .multicheck input,.conditional_filter .condition_panel .multicheck label{display:inline;float:left;width:72px;overflow:hidden;}
.conditional_filter .condition_panel .multicheck input{margin:2px 4px 0 0;height:13px;overflow:hidden;width:13px;*margin:1px 4px 0 0;}
.conditional_filter .condition_panel .multicheck .conditions{width:556px;}
.conditional_filter .condition_panel .multicheck .conditions .btn_submit{margin:7px 0 4px 6px;padding:0;width:38px;height:20px;background:url(/content/images/btn.gif) no-repeat 0 0;font-size:0;}
.conditional_filter .condition_panel .multicheck .multicheck_close{position:absolute;right:4px;top:8px;width:14px;height:14px;padding:0;background:url(/content/images/float_close.gif) no-repeat 0 0;}
.conditional_filter .condition_panel .price_condition_list{padding:2px 15px;}
.conditional_filter .condition_panel .price_condition_list .conditions{width:603px;}
.conditional_filter .condition_panel .price_condition_list .conditions a{float:left;display:inline;margin-right:7px;}
.conditional_filter .condition_panel .list .oper_panel{float:right;display:inline;height:21px;overflow:hidden;width:36px;}
.conditional_filter .condition_panel .list .oper_panel a{display:inline-block;float:none;padding:3px 0 0;width:36px;text-align:right;overflow:hidden;}
.conditional_filter .condition_panel .list .oper_panel a.unfold{background:url(/content/images/bg_btn_oper_unfold.gif) no-repeat 0 9px;}
.conditional_filter .condition_panel .list .oper_panel a.fold{background:url(/content/images/bg_btn_oper_fold.gif) no-repeat 0 9px;}
.conditional_filter .bottom_panel{position:relative;height:22px;overflow:hidden;}
.conditional_filter .bottom_panel a{position:absolute;left:0;bottom:0;float:none;display:block;margin-left:57px;padding:0;width:86px;height:19px;font-size:0;line-height:57px;overflow:hidden;}
.conditional_filter .bottom_panel a.unfold{background:url(/content/images/bg_btn_unfold.png) no-repeat 0 0;}
.conditional_filter .bottom_panel a.fold{background:url(/content/images/bg_btn_fold.png) no-repeat 0 0;}


.filterbar{background:url(/content/images/filterbar.png) repeat-x 0 -92px;border:1px solid #f99439;border-top-width:2px;border-bottom-color:#c3c3c3;height:38px;position:relative;width:758px;}
.filterbar .border{background:url(/content/images/filterbar.png) no-repeat;height:41px;position:absolute;top:-2px;width:2px;}
.filterbar .left{background-position:-60px -46px;left:-1px;}
.filterbar .right{background-position:-65px -46px;right:-1px;}
.filterbar .filter_panel{padding:7px 8px;height:23px;}
.filterbar .btn_filter{float:left;}
.filterbar .btn_filter .search_tip{float:left;height:18px;overflow:hidden;padding:3px 0 2px;padding:4px 0 1px\9;}
.filterbar .btn_filter a{background:url(/content/images/filterbar.png) no-repeat right 0;float:left;height:23px;margin: 0 3px;padding-right:6px;}
.filterbar .btn_filter a .text{background:url(/content/images/filterbar.png) no-repeat -93px -46px;color:#666;cursor:pointer;float:left;height:18px;overflow:hidden;padding:3px 0 2px 7px;padding:4px 0 1px 7px\9;}
.filterbar .btn_filter a .arrow{cursor:pointer;float:left;height:23px;margin:0 0 0 3px;width:7px;}
.filterbar .btn_filter a .down{background:url(/content/images/filterbar.png) no-repeat 0 -46px;}
.filterbar .btn_filter a .up{background:url(/content/images/filterbar.png) no-repeat -10px -46px;}
.filterbar .btn_filter a:hover{background:url(/content/images/filterbar.png) no-repeat right -23px;text-decoration:none;}
.filterbar .btn_filter a:hover .text{background:url(/content/images/filterbar.png) no-repeat -93px -69px;color:#007130;}
.filterbar .btn_filter a.active,.filterbar .btn_filter a.active:hover,.filterbar .btn_filter a.default{background:url(/content/images/filterbar.png) no-repeat right -23px;color:#404040;}
.filterbar .btn_filter a.active .text,.filterbar .btn_filter a.active:hover .text{background:url(/content/images/filterbar.png) no-repeat -93px -69px;color:#404040;}
.filterbar .btn_filter a:hover .down,.filterbar .btn_filter a.active .down{background:url(/content/images/filterbar.png) no-repeat 0 -69px;}
.filterbar .btn_filter a:hover .up,.filterbar .btn_filter a.active .up{background:url(/content/images/filterbar.png) no-repeat -10px -69px;}
.filterbar .page_Simplified{float:right;overflow:hidden;padding-top:3px;width:114px;}
.filterbar .page_Simplified span{color:#404040;float:right;font-weight:bold;font-family:Arial;height:18px;padding:0 5px;}
.filterbar .page_Simplified a{background:url(/content/images/filterbar.png) no-repeat;float:right;height:18px;line-height:54px;width:18px;}
.filterbar .page_Simplified a.prevpage{background-position:-20px -46px;}
.filterbar .page_Simplified a.nextpage{background-position:-40px -46px;}
.filterbar .page_Simplified a.bof{background-position:-20px -65px;cursor:default;}
.filterbar .page_Simplified a.eof{background-position:-40px -65px;cursor:default;}
.filterbar .check_filter{float:right;height:23px;overflow:hidden;width:222px;}
.filterbar .check_filter .checkitem{float:left;height:18px;padding:3px 0 2px;position:relative;padding:4px 0 1px\9;}
.filterbar .check_filter .checkitem input{display:inline-block;height:18px;left:0;position:absolute;top:3px;}
.filterbar .check_filter .checkitem label{display:inline-block;height:18px;margin:0 25px 0 20px;}

.brief_tip{border:1px solid #e0e0e0;cursor:default;height:18px;margin:10px 0 5px;overflow:hidden;padding:7px 0 5px 8px;width:750px;padding:8px 0 4px 8px\9;}
.brief_tip p{color:#878787;}

.resultlist{overflow:hidden;width:760px;}
.resultlist .listitem{float:left;margin-right:32px;padding:20px 15px 17px;width:202px;*padding:20px 15px 16px;}
.resultlist .none{margin-right:0;}
.resultlist .listitem p{width:202px;}
.resultlist .listitem .pic{border:1px solid #ddd;height:200px;position:relative;width:200px;}
.resultlist .listitem .pic a{display:block;height:200px;overflow:hidden;text-align:center;width:200px;}
.resultlist .listitem .price{cursor:default;height:18px;padding:9px 0 3px;overflow:hidden;padding:10px 0 2px\9;}
.resultlist .listitem .price .price_m{background:url(/content/images/bg_price_del.png) repeat-x 0 9px;color:#9c9c9c;font-family:Arial;margin-left:10px;}
.resultlist .listitem .price .price_d{color:#c30;font-family:Arial;font-size:18px;}
.resultlist .listitem .price .price_d em{padding-left:4px;}
.resultlist .listitem .price .minus{color:#c30;font-weight:bold;padding:0 5px;}
.resultlist .listitem .title{height:36px;margin-bottom:2px;padding:2px 0;overflow:hidden;padding:3px 0 1px\0;*height:37px;*padding:2px 0 0;}
.resultlist .listitem .title a{font-size:14px;*line-height:19px;}
.resultlist .listitem .title .item_icon{height:14px;margin-right:5px;overflow:hidden;position:relative;top:2px;width:41px;}
.resultlist .listitem .subtitle{color:#666;cursor:default;height:18px;overflow:hidden;padding:1px 0;padding:2px 0 0\9;}
.resultlist .listitem .starlevel{height:18px;margin-top:1px;overflow:hidden;}
.resultlist .listitem .starlevel .comment_star{position:relative;top:2px;}
.resultlist .listitem .starlevel span{color:#666;}
.resultlist  .horizontal_line{border-top:1px solid #ddd;float:left;height:0;width:760px;}

.resultlist .listitem .pic .overlay,.resultlist .listitem .pic .overlay1{position:absolute;bottom:0;left:0;height:22px;width:200px;overflow:hidden;text-align:left;}
.resultlist .listitem .pic .overlay{background-image:url(/content/images/overlay_bg.png);*filter:alpha(opacity=70);*background:#fff;}
.resultlist .listitem .pic .overlay1 .p{display:block;margin:0 auto;width:150px;color:#d37c54;line-height:18px;*vertical-align:middle;vertical-align:text-bottom\0;}
.resultlist .listitem .pic .overlay1 .p span,.resultlist .listitem .pic .overlay1 .p a{display:inline-block;color:#d37c54;font:12px/18px "\5b8b\4f53";}
.resultlist .listitem .pic .overlay1 .p span{padding:3px 0 3px 3px;width:22px;height:14px;overflow:hidden;}
.resultlist .listitem .pic .overlay1 .p a{padding:2px 1px 1px;width:120px;height:18px;overflow:hidden;}
.resultlist .listitem .pic .overlay1 .p a:hover{color:#1a66b3;text-decoration:none;}
.resultlist .listitem .pic .label{position:absolute;right:-6px;top:-6px;}
.resultlist .listitem .pic .pic_tag{font-size:0;line-height:0;height:54px;width:54px;overflow:hidden;}

.paginating{cursor:default;font-size:12px;height:23px;line-height:23px;overflow:hidden;padding:10px 0 12px;}
.pagepanel{display:inline;float:right;height:23px;}
.pagepanel a,.pagepanel span{color:#969696;cursor:default;float:right;font-size:12px;height:23px;line-height:23px;margin-left:5px;text-align:center;}
.pagepanel a,.pagepanel .pagebtn{background:url(/content/images/paginating.png) no-repeat right 0;color:#1a66b3;padding-right:7px;text-decoration:none;}
.pagepanel a span,.pagepanel .pagebtn span{background:url(/content/images/paginating.png) no-repeat -57px -25px;color:#1a66b3;cursor:pointer;display:inline-block;float:none;font-size:14px;font-family:Arial;margin:0;padding-left:7px;}
.pagepanel a:hover,.pagepanel .current,.pagepanel .current:hover{background:url(/content/images/paginating.png) no-repeat right -50px;cursor:pointer;text-decoration:none;}
.pagepanel a:hover span,.pagepanel .current span,.pagepanel .current:hover span{background:url(/content/images/paginating.png) no-repeat -57px -75px;color:#fff;cursor:pointer;font-weight:bold;}
.pagepanel .current,.pagepanel .current:hover,.pagepanel .current span,.pagepanel .current:hover span{cursor:default;}
.pagepanel .pagebtn span{font-weight:bold;font-size:12px;*padding-top:1px;padding-top:2px\0}
.pagepanel .disabled,.pagepanel .disabled span,.pagepanel .disabled:hover,.pagepanel .disabled:hover span{color:#878787;cursor:default;font-weight:bold;}
.pagepanel .disabled:hover{background:url(/content/images/paginating.png) no-repeat right 0;}
.pagepanel .disabled:hover span{background:url(/content/images/paginating.png) no-repeat -57px -25px;}
.pageform{display:inline;float:right;padding:2px 0 0;overflow:hidden;width:220px;}
.pageform span{color:#969696;cursor:default;display:inline;float:right;height:20px;line-height:20px;margin-left:5px;padding-top:1px;}
.pageform input{border:1px solid #ccc;display:inline;float:right;height:16px;line-height:16px;margin-left:5px;width:34px;}
.pageform a,.pageform a:hover{background:url(/content/images/paginating.png) no-repeat 0 -100px;color:#666;display:inline;float:right;font:12px/20px "\5b8b\4f53";height:20px;margin-left:5px;width:38px;padding-top:1px;text-align:center;text-decoration:none;}

.most_concern{background:#fafaf9;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;height:18px;margin:8px 0 10px;padding:11px 0 10px 15px;padding:12px 0 9px 15px\9;}
.most_concern p{height:18px;overflow:hidden;}
.most_concern a{margin-right:30px;}

.concordance_bottom{background:#fafaf9;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin:8px 0 10px;padding:9px 40px 10px;}
.concordance_bottom p{height:18px;overflow:hidden;padding:2px 0 1px;padding:3px 0 0\9;}
.concordance_bottom p a{margin-right:30px;}
.concordance_bottom .search_form{padding-top:10px;}
.concordance_bottom .search_form input{background:#fff;border:1px solid #ccc;height:28px;line-height:28px;float:left;padding-left:10px;width:495px;}
.concordance_bottom .search_form a{float:left;}
.concordance_bottom .search_form .search_btn{background:url(/content/images/bg_search_btn.png) no-repeat 0 0;height:29px;margin:1px 12px 0 8px;width:78px;}
.concordance_bottom .search_form .advanced{margin-top:5px;margin-top:6px\9;}

.list_feedback_panel{border:1px solid #e0e0e0;margin-bottom:10px;padding:11px 15px;width:728px;}
.list_feedback_panel p{color:#404040;height:18px;overflow:hidden;padding:1px 0;position:relative;padding:2px 0 0\9;}
.list_feedback_panel p span{display:inline-block;padding-left:25px;}
.list_feedback_panel p .icon{background:url(/content/images/bg_feedback.png) no-repeat 0 -25px;height:18px;padding-left:4px;position:absolute;top:0;width:20px;}
.list_feedback_panel p a{padding:0 5px;}
.list_feedback_panel .feedback_form{padding:11px 0 0 22px;}
.list_feedback_panel .feedback_form textarea{background:none;border:1px solid #ddd;overflow-x:hidden;height:58px;padding:4px 9px;width:542px;resize:none}
.list_feedback_panel .feedback_form .default{color:#878787;}
.list_feedback_panel .feedback_form .btn_panel{height:24px;padding-top:8px;overflow:hidden;}
.list_feedback_panel .feedback_form .btn_panel a{background:url(/content/images/bg_feedback.png) no-repeat right 0;display:inline-block;margin-right:10px;padding-right:12px;}
.list_feedback_panel .feedback_form .btn_panel a:hover{text-decoration:none;}
.list_feedback_panel .feedback_form .btn_panel a span,.list_feedback_panel .feedback_form .btn_panel a:hover span{background:url(/content/images/bg_feedback.png) no-repeat -95px -25px;color:#404040;cursor:pointer;display:inline-block;height:18px;padding:3px 0 3px 13px;padding:4px 0 2px 13px\9;}

.search_feedback_panel{border:1px solid #e0e0e0;margin-bottom:10px;padding:11px 40px;width:678px;}
.search_feedback_panel p{color:#404040;height:24px;overflow:hidden;padding:1px 0;position:relative;padding:2px 0 0\9;}
.search_feedback_panel p span{display:inline-block;padding:3px 0 3px 15px;}
.search_feedback_panel p .tip{font-weight:bold;padding:3px 0 3px 25px;}
.search_feedback_panel p .icon{background:url(/content/images/bg_feedback.png) no-repeat 0 -25px;height:18px;padding-left:4px;position:absolute;top:4px;width:20px;}
.search_feedback_panel p .btn{background:url(/content/images/bg_feedback.png) no-repeat right 0;display:inline-block;margin-left:10px;padding-right:12px;}
.search_feedback_panel p a.btn:hover{text-decoration:none;}
.search_feedback_panel p a.btn span,.search_feedback_panel p a.btn:hover span{background:url(/content/images/bg_feedback.png) no-repeat -95px -25px;color:#404040;cursor:pointer;display:inline-block;height:18px;padding:3px 0 3px 13px;padding:4px 0 2px 13px\9;}
.search_feedback_panel .feedback_form{padding:11px 0 0 22px;}
.search_feedback_panel .feedback_form textarea{background:none;border:1px solid #ddd;overflow-x:hidden;height:58px;padding:4px 9px;width:542px;resize:none}
.search_feedback_panel .feedback_form .default{color:#878787;}
.search_feedback_panel .feedback_form .btn_panel{height:24px;padding-top:8px;overflow:hidden;}
.search_feedback_panel .feedback_form .btn_panel a{background:url(/content/images/bg_feedback.png) no-repeat right 0;display:inline-block;margin-right:10px;padding-right:12px;}
.search_feedback_panel .feedback_form .btn_panel a:hover{text-decoration:none;}
.search_feedback_panel .feedback_form .btn_panel a span,.list_feedback_panel .feedback_form .btn_panel a:hover span{background:url(/content/images/bg_feedback.png) no-repeat -95px -25px;color:#404040;cursor:pointer;display:inline-block;height:18px;padding:3px 0 3px 13px;padding:4px 0 2px 13px\9;}


.recommend_panel{border:1px solid #dbdbdb;height:294px;position:relative;width:758px;}
.recommend_panel .corner{background:url(/content/images/bg_recommend.png) no-repeat;position:absolute;}
.recommend_panel .left_top{background-position:0 0px;height:6px;left:-1px;top:-1px;width:6px;}
.recommend_panel .right_top{background-position:-6px 0;height:6px;right:-1px;top:-1px;width:6px;}
.recommend_panel .left_bottom{background-position:0 -6px;height:6px;bottom:-1px;left:-1px;width:6px;}
.recommend_panel .right_bottom{background-position:-6px -6px;height:6px;bottom:-1px;right:-1px;width:6px;}
.recommend_panel .btn{background:url(/content/images/bg_recommend.png) no-repeat;display:block;height:60px;overflow:hidden;position:absolute;top:96px;width:17px;}
.recommend_panel .btn_prev{background-position:0 -72px;left:0;}
.recommend_panel .btn_next{background-position:0 -132px;right:0;}
.recommend_panel .bof{background-position:0 -12px;cursor:default;left:0;}
.recommend_panel .eof{background-position:0 -192px;cursor:default;right:0;}
.recommend_panel .title{height:18px;overflow:hidden;padding:16px 23px 1px 23px;padding:17px 23px 0 23px\9;}
.recommend_panel .title h2{color:#853200;font-size:14px;font-weight:bold;float:left;}
.recommend_panel .title .tip{color:#878787;float:right;}
.recommend_panel .title .tip a{margin-left:15px;}
.recommend_panel .recommend_content{padding:0 26px;}
.recommend_panel .recommend_content .listitem{float:left;padding:7px 11px 0;width:152px;}
.recommend_panel .recommend_content p{width:150px;padding:0 1px}
.recommend_panel .recommend_content .pic{height:150px;}
.recommend_panel .recommend_content .pic a{display:block;height:150px;overflow:hidden;text-align:center;width:150px;}
.recommend_panel .recommend_content .name{height:36px;overflow:hidden;margin-top:8px;}
.recommend_panel .recommend_content .price{height:18px;overflow:hidden;}
.recommend_panel .recommend_content .price_d{color:#c30;font-family:Arial;font-weight:bold;}
.recommend_panel .recommend_content .price_d em{padding-left:1px;}
.recommend_panel .recommend_content .price_m{background:url(/content/images/bg_price_del.png) repeat-x 0 9px;color:#9c9c9c;font-family:Arial;margin-left:5px;}
.recommend_panel .recommend_content .comment{background:#ececec;height:18px;padding:3px 0 2px;position:relative;width:152px;padding:4px 0 1px\9;}
.recommend_panel .recommend_content .comment a{margin-left:15px;}
.recommend_panel .recommend_content .comment span{color:#404040;margin-left:15px;}
.recommend_panel .recommend_content .comment .comment_star{position:relative;margin-left:5px;top:2px;}
.recommend_panel .recommend_content .comment .corner{background:url(/content/images/bg_recommend.png) no-repeat;display:block;height:2px;margin:0;position:absolute;width:2px;}
.recommend_panel .recommend_content .comment .left_top{background-position:-12px 0;left:0;top:0;}
.recommend_panel .recommend_content .comment .right_top{background-position:-15px 0;right:0;top:0;}
.recommend_panel .recommend_content .comment .left_bottom{background-position:-12px -6px;left:0;bottom:0;}
.recommend_panel .recommend_content .comment .right_bottom{background-position:-15px -6px;right:0;bottom:0;}

/*水平轮转*/
.search_tabad{ margin:10px 0 0; overflow:hidden; position:relative;width:758px; height:74px; border:1px solid #dcdddd;}
.leveltab_title{ position:absolute; left:0px; top:5px;}
.leveltab_title a{ width:68px;display:block;line-height:31px; height:31px; text-align:center; background-color:#D6D6D6; margin-top:1px; text-decoration:none;color:#404040; overflow:hidden;}
.leveltab_title a.active,.leveltab_title a:hover{font-weight:bold;background:url(/content/images/sprite_ad.png) no-repeat right -30px;padding-right:5px;color:#404040;text-decoration:none;}

.no_result{height:220px;overflow:hidden;width:760px;}
.no_result p{background:url(/content/images/sorry.png) no-repeat 0 0;height:80px;line-height:70px;margin:50px 0 0 90px;padding-left:116px;}
.no_result p span{font-weight:bold;font-size:14px;}

.loading_panel{background:url(/content/images/loading.gif) no-repeat center center;height:100px;overflow:hidden;width:220px;}

.fixedbar{left:50%;margin-left:490px;position:fixed;top:273px;_position:absolute;_top:expression(documentElement.scrollTop + 273);}
.survey{line-height:14px;width:19px;}
.window_suspend{width:19px;background:url(/content/images/bg_feedback_01.gif) no-repeat 0 0;}
.window_suspend a{display:block;background:url(/content/images/bg_feedback_02.gif) no-repeat 0 bottom;width:15px;padding:7px 0 6px 4px;text-decoration:none;font-size:12px;color:#878787;}
.window_suspend a:hover{color:#f60;text-decoration:none;}

.backtop{height:120px;line-height:14px;margin-top:8px;width:19px;}
.backtop .icon_top{background:url(/content/images/icon_backtop.png) no-repeat 0 0;display:block;margin-left:2px;height:10px;width:9px;}
.backtop a:hover{color:#878787;text-decoration:none;}

.category_circlepic{width:760px;height:160px;position:relative;margin:0 auto 10px;overflow:hidden;}
.category_circlepic_box{width:10000px;height:160px;position:absolute;}
.category_circlepic_box a{float:left;}
.category_circlepic a.up,.category_circlepic a.down{display:block;font-size:0;width:34px;height:60px;overflow:hidden;line-height:180px;position:absolute;top:50px;background:url(/content/images/btn_category_circlepic.png) no-repeat 0 -60px;z-index:100;}
.category_circlepic a.up{left:0;}
.category_circlepic a.up:hover{background-position:0 0;}
.category_circlepic a.down{right:0;background-position:0 -180px;}
.category_circlepic a.down:hover{background-position:0 -120px;}

/*商家tab*/
.resultlist_tab{width:750px;padding-left:10px;height:27px;border-bottom:1px solid #bbb;overflow:hidden;margin:20px auto 0;}
.resultlist_tab span{float:left;padding:0 20px;line-height:26px;height:26px;overflow:hidden;color:#d92749;font-size:14px;font-weight:bold;background:url(/content/images/bg_search_sjtab.gif) repeat-x 0 0;border:1px solid #dadada;border-bottom:none;}
.resultlist_more{width:755px;height:21px;overflow:hidden;padding-right:5px;margin:0 auto 20px;}
.resultlist_more a,.resultlist_more a:hover{float:right;background:url(/content/images/bg_search_more.gif) no-repeat;width:70px;height:21px;color:#f0580f;text-decoration:none;text-align:left;padding:0 0 0 5px;line-height:21px;*line-height:23px;}
/**东森左侧模块样式*/
.ds_listad div{ width:188px; height:98px; overflow:hidden; border:1px solid #dddddd; margin-bottom:10px;}

/* 库存 */
.list_kc {line-height:16px;padding:13px 0 10px 14px;height:19px; background:#f8f8f8; width:746px;}
.list_kc span { float:left; display:inline; position:relative; z-index:10;}
.list_kc .location_wrap { padding-right:3px; float:left; display:inline; position:relative; z-index:10;}
.list_kc .location_wrap span { padding-right:7px;}
.list_kc .location_wrap .now{display:inline-block;position:relative;background:#fff url(/content/images/bg_location_9x4.gif) right 6px no-repeat;border:2px solid #f7e5b3;margin:-4px 0 0 2px;padding:2px 16px 0 6px;color:#404040;line-height:15px;vertical-align:top;z-index:20;cursor:pointer;}
.list_kc .location_wrap .now:hover{ background-color:#fff; padding:2px 16px 0 6px; text-decoration:none; color:#f60;}
.list_kc .address { width:312px;*width:314px; height:auto;  border:solid 2px #dfc9b2; background-color:#FFF; position:absolute; top:17px; left:2px;*left:0; z-index:20; padding-bottom:7px;}
.list_kc .address h3 { height:22px; padding:5px 5px 0 8px; background:#fdf2e3;border-bottom:1px solid #f2e2d3;}
.list_kc .address h3 span { padding-top:2px; font-weight:bold;}
.list_kc .address h3 a,.list_kc .address h3 a:hover { float:right; padding:5px 5px 0 0; width:9px; height:9px; overflow:hidden;}
.list_kc .address .address_list { padding:10px 0 0 12px; color:#666; width:300px; overflow:hidden;}
.list_kc .address .address_list ul { width:100%; overflow:hidden;}
.list_kc .address .address_list ul li{ padding-left:4px; overflow:hidden; clear:both; vertical-align:top;}
.list_kc .address .address_list span{ width:50px; text-align:left; float:left; padding:0 0 5px 0;}
.list_kc .address .address_list span a{ color:#404040; text-decoration:none;padding:3px 5px; display:inline-block;}
.list_kc .address .address_list span .address_active,.list_kc .address .address_list span a:hover{ padding:3px 5px;text-decoration:none; color:#fff; background:#ff7100;}

.ds_listad div{ width:188px; height:98px; overflow:hidden; border:1px solid #dddddd; margin-bottom:10px;}