<link href=" /Content/MyHome.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<div class="myhome_wrapper">
    <div class="mydnew_sidel">
        <h3>个人中心</h3>
        <div class="box">
            <ul class="my_content">
                <li><a href="#">我的订单</a></li>
                <li><a href="#">个人的资料</a></li>
            </ul>
        </div>
    </div>
    <div class="rightside">
        <ul class="myddorder_list myddorder_list2">
            <li class="myddorder_title">
                <span class="list_order">订单号</span>
                <span class="list_name">收货人</span>
                <span class="list_way">付款方式</span>
                <span class="list_total">订单总金额</span>
                <span class="list_status">订单状态</span>
                <span class="list_time">下单时间</span>
                <span class="list_operation">操作</span>
            </li>
            <li onmouseover="this.style.background='#f4f4f4'" onmouseout="this.style.background='none'" id="" style="background: none repeat scroll 0% 0% transparent;">
                <div class="list_other" id="span_4986800668_normal">
                    <span class="list_order">
                        <a name="orderid" target="_blank" href="orderdetails.aspx?orderid=4986800668">4986800668</a>
                    </span>
                    
                    <span title="柯钦武" class="list_name">柯钦武</span>
                    <span titlt="网上支付" class="list_way">网上支付</span>
                    <span id="list_total4986800668" class="list_total">￥63.00</span>
                    <span class="list_status">等待到款</span>
                    <span class="list_time">2012-09-24</span>
                    <span id="list_operation_4986800668" class="list_operation">
                        <a onclick="javascript:return onlinePayCheck('4986800668mobLink','4986800668','./TipPage/payment.aspx?od=4986800668&amp;pd=4986800668&amp;ref=order-0-A&amp;is_package=0&amp;payid=-1&amp;paytype=1&amp;dangdangpay=5757&amp;ebooksymbol=0',1);" target="_blank" href="./TipPage/payment.aspx?od=4986800668&amp;pd=4986800668&amp;ref=order-0-A&amp;is_package=0&amp;payid=-1&amp;paytype=1&amp;dangdangpay=5757&amp;ebooksymbol=0" name="4986800668mobLink" id="4986800668mobLink">网上支付</a> |<a name="chgorder" onmouseout="hidden_modifydiv()" class="modify" id="order4986800668" onmouseover="modify_order('order4986800668','1');">修改</a>| <a href="javascript:orderswin('4986800668CLink','4986800668','4986800668','0','3|1|0','0','0');" name="4986800668CLink" id="4986800668CLink">取消</a>
                    </span>
                </div>
            </li>
            <li onmouseover="this.style.background='#f4f4f4'" onmouseout="this.style.background='none'" id="" style="background: none repeat scroll 0% 0% transparent;">
                <div class="list_other" id="">
                    <a name="orderid" target="_blank" class="list_order" href="orderdetails.aspx?orderid=4986800668">4986800668</a>
                    <span title="柯钦武" class="list_name">柯钦武</span>
                    <span titlt="网上支付" class="list_way">网上支付</span>
                    <span id="" class="list_total">￥63.00</span>
                    <span class="list_status">等待到款</span>
                    <span class="list_time">2012-09-24</span>
                    <span id="" class="list_operation">
                        <a onclick="javascript:return onlinePayCheck('4986800668mobLink','4986800668','./TipPage/payment.aspx?od=4986800668&amp;pd=4986800668&amp;ref=order-0-A&amp;is_package=0&amp;payid=-1&amp;paytype=1&amp;dangdangpay=5757&amp;ebooksymbol=0',1);" target="_blank" href="./TipPage/payment.aspx?od=4986800668&amp;pd=4986800668&amp;ref=order-0-A&amp;is_package=0&amp;payid=-1&amp;paytype=1&amp;dangdangpay=5757&amp;ebooksymbol=0" name="4986800668mobLink" id="4986800668mobLink">网上支付</a> |<a name="chgorder" onmouseout="hidden_modifydiv()" class="modify" id="order4986800668" onmouseover="modify_order('order4986800668','1');">修改</a>| <a href="javascript:orderswin('4986800668CLink','4986800668','4986800668','0','3|1|0','0','0');" name="4986800668CLink" id="4986800668CLink">取消</a>
                    </span>

                </div>
            </li>
        </ul>
    </div>
</div>
