<link href="../../Content/Product.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<div class="pdt_wrap">
    @* 侧边栏 *@
    <div class="dp_sidebar">

        <div id="ad_cpc">
            <div class="module_merchant_hotsales">
                <h2><span>商家热卖</span></h2>
                <div class="module_main">
                    <ul>
                        <li class="">
                            <div class="item">
                                <div class="pic">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=adaS1rtLkE8GwOrvWUMDzr%2FrjkIFhE7Ml5e%2B8gEKdid7tRvMcoSQBWoho1Fwc8zJEg506cipQdEJJ7k2phaHGamEYAM898WZQ4ebOOVPCMLN6DI5j9dKqG06cZqhZxIHOVnJn%2BrguunHG0%2BDO8bGawBSy0%2BMsoQFiW3SDinYzeYB%2FK6OXCZ1hCaNKRK35Lmt%2BYrC9K4ASzx60zVBqWisQ%2FS3Q%3D%3D">
                                        <img src="http://img31.ddimg.cn/13/20/1285506301-1_l.jpg"></a>
                                </div>
                                <div class="price">￥<span class="num">189.00</span></div>
                                <div class="name">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=adaS1rtLkE8GwOrvWUMDzr%2FrjkIFhE7Ml5e%2B8gEKdid7tRvMcoSQBWoho1Fwc8zJEg506cipQdEJJ7k2phaHGamEYAM898WZQ4ebOOVPCMLN6DI5j9dKqG06cZqhZxIHOVnJn%2BrguunHG0%2BDO8bGawBSy0%2BMsoQFiW3SDinYzeYB%2FK6OXCZ1hCaNKRK35Lmt%2BYrC9K4ASzx60zVBqWisQ%2FS3Q%3D%3D">2012春新款纯棉红黑条纹<br>
                                        反领 时尚修身 长袖T恤</a>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="item">
                                <div class="pic">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=ajp%2BoLhpB62uZtG879CAfur6ea85DpdICBrRcSSwEnMppKs%2BIaH9zBziBJLpHANsuTzzDHuAupqT4tqLDbbYXTYf075ijAKxQKTG%2Bv57xCY1LDlWUfqY3DQyWpnx3K%2BVyZ9kUNNXikla1SbPEBADji2Vl18LnLks%2FRUK2FAd60F4MD8QmVHpXYKXqXxp7F%2FiZbOc497xiS2YxtRvFVmtvJIdA%3D%3D">
                                        <img src="http://img32.ddimg.cn/67/0/1015686112-1_l.jpg"></a>
                                </div>
                                <div class="price">￥<span class="num">209.00</span></div>
                                <div class="name">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=ajp%2BoLhpB62uZtG879CAfur6ea85DpdICBrRcSSwEnMppKs%2BIaH9zBziBJLpHANsuTzzDHuAupqT4tqLDbbYXTYf075ijAKxQKTG%2Bv57xCY1LDlWUfqY3DQyWpnx3K%2BVyZ9kUNNXikla1SbPEBADji2Vl18LnLks%2FRUK2FAd60F4MD8QmVHpXYKXqXxp7F%2FiZbOc497xiS2YxtRvFVmtvJIdA%3D%3D">骆驼 秋装新款 t恤3折起<br>
                                        全场满400再减50 包邮</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="pic">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=akhQwhF26VNzjolqoYB4kCKg8cICG9JKY%2BYMC9B%2FD6fG0tPWB9eO2%2BH%2B7M50ERqLAkTHQikLQtxtNOGNZhY5rmj%2BFI50Nt5SNmituHA43SgKknn4YGjTLUsPrUSCZjt5qSRQqY8QGh0T92o8HFU2iy6pm5Q%2Fm%2FkCL7j7UohApVevjD8QmVHpXYKXqXxp7F%2FiZbOc497xiS2YxtRvFVmtvJIdA%3D%3D">
                                        <img src="http://img32.ddimg.cn/58/10/1014160612-1_l.jpg"></a>
                                </div>
                                <div class="price">￥<span class="num">219.00</span></div>
                                <div class="name">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=akhQwhF26VNzjolqoYB4kCKg8cICG9JKY%2BYMC9B%2FD6fG0tPWB9eO2%2BH%2B7M50ERqLAkTHQikLQtxtNOGNZhY5rmj%2BFI50Nt5SNmituHA43SgKknn4YGjTLUsPrUSCZjt5qSRQqY8QGh0T92o8HFU2iy6pm5Q%2Fm%2FkCL7j7UohApVevjD8QmVHpXYKXqXxp7F%2FiZbOc497xiS2YxtRvFVmtvJIdA%3D%3D">骆驼 秋装新款 t恤3折起<br>
                                        全场满400再减50 包邮</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="pic">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=aek9YSH2%2BFBTN50PMTrTXXVEcWpliMZcsn1sFAKUUuDSw34GcFX3An3BmKiZEgD8rCSTPINdsNKk%2F%2BIrFKQUJVyUzARsNpwvgsK2Mc%2FFa%2Fs2LHGOh5fDLJWHSlSeBkYB%2BfkfxBJzkii9Rbe6Aw2FpKFNKvWEymXtrb3GkWrPTgCPiD8QmVHpXYKXqXxp7F%2FiZbOc497xiS2YxtRvFVmtvJIdA%3D%3D">
                                        <img src="http://img31.ddimg.cn/88/20/1016400121-1_l.jpg"></a>
                                </div>
                                <div class="price">￥<span class="num">79.00</span></div>
                                <div class="name">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=aek9YSH2%2BFBTN50PMTrTXXVEcWpliMZcsn1sFAKUUuDSw34GcFX3An3BmKiZEgD8rCSTPINdsNKk%2F%2BIrFKQUJVyUzARsNpwvgsK2Mc%2FFa%2Fs2LHGOh5fDLJWHSlSeBkYB%2BfkfxBJzkii9Rbe6Aw2FpKFNKvWEymXtrb3GkWrPTgCPiD8QmVHpXYKXqXxp7F%2FiZbOc497xiS2YxtRvFVmtvJIdA%3D%3D">OBM男士长袖t恤<br>
                                        特价包邮  货到付款</a>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="item">
                                <div class="pic">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=aqnrS2Rrzxvvc%2B9GuxJAKFFj%2FJE1QsQ%2FgxvYqumF6CVM2sljLZEfa4EWXE0ah%2BQvAj0Hs2c5ma3YPpJQxjDFrG7q%2FF2xyeiPtmGRwnVjUGXtCz6MgFTq5JodNw2RHIEDD1ZJn%2BrguunHG0%2BDO8bGawBSy0%2BMsoQFiW3SDinYzeYB%2FK6OXCZ1hCaNKRK35Lmt%2BYrC9K4ASzx60zVBqWisQ%2FS3Q%3D%3D">
                                        <img src="http://img32.ddimg.cn/65/16/1012438712-1_l.jpg"></a>
                                </div>
                                <div class="price">￥<span class="num">99.00</span></div>
                                <div class="name">
                                    <a target="_blank" href="http://a.dangdang.com/jump.php?q=aqnrS2Rrzxvvc%2B9GuxJAKFFj%2FJE1QsQ%2FgxvYqumF6CVM2sljLZEfa4EWXE0ah%2BQvAj0Hs2c5ma3YPpJQxjDFrG7q%2FF2xyeiPtmGRwnVjUGXtCz6MgFTq5JodNw2RHIEDD1ZJn%2BrguunHG0%2BDO8bGawBSy0%2BMsoQFiW3SDinYzeYB%2FK6OXCZ1hCaNKRK35Lmt%2BYrC9K4ASzx60zVBqWisQ%2FS3Q%3D%3D">零号男 秋装新款撞色梭织雪<br>
                                        绒拼接V领长Tee恤</a>
                                </div>
                            </div>
                        </li>
                        <li class="more"><a target="_blank" href="http://adsmart.dangdang.com">我要推广&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="history_div" class="dp_sidebar_content">
            <div class="side_title">
                <h2><span>您的浏览历史</span></h2>
            </div>
            <div name="__viewhistory_b2c" style="" id="history_all" class="side_main">
                <ul class="history">
                    <li class="detailed clearfix">
                        <div class="pic">
                            <a target="_blank" title="NEWTO牛头牌 男士秋款纯棉时尚修身条纹长袖T恤W0074006" href="product.aspx?product_id=1022607121&amp;ref=product-0-F">
                                <img src="http://img31.ddimg.cn/85/11/1022607121-1_x.jpg"></a>
                        </div>
                        <a target="_blank" class="name" title="NEWTO牛头牌 男士秋款纯棉时尚修身条纹长袖T恤W0074006" href="product.aspx?product_id=1022607121&amp;ref=product-0-F">NEWTO牛头牌&nbsp;男士秋款纯棉时</a>
                        <span class="price"><span>￥</span>248.00</span>
                    </li>
                    <li class="detailed clearfix">
                        <div class="pic">
                            <a target="_blank" title="OBM2012春秋新款 男士夹克 条纹立领休闲薄款夹克男装潮外套jk016" href="product.aspx?product_id=1001379121&amp;ref=product-0-F">
                                <img src="http://img31.ddimg.cn/61/21/1001379121-1_x.jpg"></a>
                        </div>
                        <a target="_blank" class="name" title="OBM2012春秋新款 男士夹克 条纹立领休闲薄款夹克男装潮外套jk016" href="product.aspx?product_id=1001379121&amp;ref=product-0-F">OBM2012春秋新款&nbsp;男士夹克&nbsp;</a>
                        <span class="price"><span>￥</span>178.00</span>
                    </li>
                    <li class="detailed clearfix">
                        <div class="pic">
                            <a target="_blank" title="以纯 男装V领长袖线衫毛衣 12112085 原价179" href="product.aspx?product_id=1014316921&amp;ref=product-0-F">
                                <img src="http://img31.ddimg.cn/46/31/1014316921-1_x.jpg"></a>
                        </div>
                        <a target="_blank" class="name" title="以纯 男装V领长袖线衫毛衣 12112085 原价179" href="product.aspx?product_id=1014316921&amp;ref=product-0-F">以纯&nbsp;男装V领长袖线衫毛衣&nbsp;1</a>
                        <span class="price"><span>￥</span>179.00</span>
                    </li>
                    <li class="detailed clearfix">
                        <div class="pic">
                            <a target="_blank" title="CICI-SHOP秋装新款外套仿羊绒毛呢外套毛呢子大衣 翻领1127" href="product.aspx?product_id=1001524505&amp;ref=product-0-F">
                                <img src="http://img35.ddimg.cn/14/32/1001524505-1_x.jpg"></a>
                        </div>
                        <a target="_blank" class="name" title="CICI-SHOP秋装新款外套仿羊绒毛呢外套毛呢子大衣 翻领1127" href="product.aspx?product_id=1001524505&amp;ref=product-0-F">CICI-SHOP秋装新款外套仿羊</a>
                        <span class="price"><span>￥</span>238.00</span>
                    </li>
                    <li class="detailed clearfix none">
                        <div class="pic">
                            <a target="_blank" title="当当优品 男士棉弹修身时尚 休闲长裤 BM0069" href="product.aspx?product_id=410050070&amp;ref=product-0-F">
                                <img src="http://img30.ddimg.cn/89/12/410050070-1_x.jpg"></a>
                        </div>
                        <a target="_blank" class="name" title="当当优品 男士棉弹修身时尚 休闲长裤 BM0069" href="product.aspx?product_id=410050070&amp;ref=product-0-F">当当优品&nbsp;男士棉弹修身时尚&nbsp;</a>
                        <span class="price"><span>￥</span>219.00</span>
                    </li>
                </ul>
            </div>
            <div style="text-align: center; padding: 30px 0px; display: none;" id="history_wait" class="side_main" isloaded="1">
                <img border="0" src="/content/images/loading.gif">
                内容加载中，请稍后...
            </div>
        </div>
    </div>

    @* ===================================== *@
    <div class="dp_main">
        <div class="h1_title">
            <h1>NEWTO牛头牌 男士秋款纯棉时尚修身条纹长袖T恤W0074006</h1>
        </div>
        <div class="show">
            <div class="pic">
                <a target="_blank" href="picbox.php?product_id=1022607121&amp;name=NEWTO%C5%A3%CD%B7%C5%C6+%C4%D0%CA%BF%C7%EF%BF%EE%B4%BF%C3%DE%CA%B1%C9%D0%D0%DE%C9%ED%CC%F5%CE%C6%B3%A4%D0%E4T%D0%F4W0074006&amp;type=mall&amp;count=5" name="__bigpic_b2c">
                    <img id="largePic" alt="" src="http://img31.ddimg.cn/85/11/1022607121-5_h.jpg"></a>
            </div>
            <div style="background: url(http://img4.ddimg.cn/00035/pic/mej_b.png) no-repeat 0 0; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/mej_b.png',sizingMethod='noscale');" class="promo_icon"></div>
            <div class="abbreviation_panel">
                <div id="pic_carousel" class="abbreviation">
                    <ul class="clearfix">
                        <li class=""><a class="show_pic_small__d" value="0" id="http://img31.ddimg.cn/85/11/1022607121-1_h.jpg" href="#">
                            <img src="http://img31.ddimg.cn/85/11/1022607121-1_v.jpg"></a></li>
                        <li class=""><a class="show_pic_small__d" value="1" id="http://img31.ddimg.cn/85/11/1022607121-2_h.jpg" href="#">
                            <img src="http://img31.ddimg.cn/85/11/1022607121-2_v.jpg"></a></li>
                        <li><a class="show_pic_small__d" value="2" id="http://img31.ddimg.cn/85/11/1022607121-3_h.jpg" href="javascript:void(0)">
                            <img src="http://img31.ddimg.cn/85/11/1022607121-3_v.jpg"></a></li>
                        <li class=""><a class="show_pic_small__d" value="3" id="http://img31.ddimg.cn/85/11/1022607121-4_h.jpg" href="#">
                            <img src="http://img31.ddimg.cn/85/11/1022607121-4_v.jpg"></a></li>
                        <li class="current"><a class="show_pic_small__d" value="4" id="http://img31.ddimg.cn/85/11/1022607121-5_h.jpg">
                            <img src="http://img31.ddimg.cn/85/11/1022607121-5_v.jpg"></a></li>
                    </ul>
                </div>


            </div>

            <div class="prd_share">
                分享到：
           
                <span class="share_sina"><a title="新浪微博" rel="nofollow" target="_blank" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Funion.dangdang.com%2Ftransfer%2Ftransfer.aspx%3Ffrom%3D535-2%26backurl%3Dhttp%3A%2F%2Fproduct.dangdang.com%2Fproduct.aspx%3Fproduct_id%3D1022607121%26ref%3Dproduct-0-M&amp;appkey=1315955721&amp;title=NEWTO牛头牌&nbsp;男士秋款纯棉时尚修身条纹长袖T恤W0074006－－52折，当当价：￥248.00&amp;pic=http://img31.ddimg.cn/85/11/1022607121-1_m.jpg&amp;ralateUid=1647263235&amp;language=" name="__sina"></a></span><span class="share_qq"><a title="腾讯微博" onclick="postToWb('NEWTO牛头牌&nbsp;男士秋款纯棉时尚修身条纹长袖T恤W0074006－－52折，当当价：￥248.00','http://union.dangdang.com/transfer/transfer.aspx?from=535-1&amp;backurl=http://product.dangdang.com/product.aspx?product_id=1022607121&amp;ref=product-0-M','http://img31.ddimg.cn/85/11/1022607121-1_m.jpg');" href="javascript:void(0)" class="share_qq" name="__tencent"></a></span><span class="share_rr"><a title="人人网" href="javascript:void((function(s,d,e){var f='http://share.renren.com/share/buttonshare?link=',u='http://product.dangdang.com/product.aspx?product_id=1022607121&amp;ref=product-0-M',l='',p=[e(u),'&amp;title=',e(l)].join('');function a(){if(!window.open([f,p].join(''),'xnshare',['toolbar=0,status=0,resizable=1,width=626,height=436,left=',(s.width-626)/2,',top=',(s.height-436)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else a();})(screen,document,encodeURIComponent));" name="__renren"></a></span><span class="share_kx"><a title="开心网" rel="nofollow" target="_blank" href="http://www.kaixin001.com/rshare/share.php?rpara=sign=aabb1654412f70113eae7c6cfecd2b71_100016_YXBwaWQ=MTAwMDE2_ZGVzY3JpcHRpb24=1Nq1sbWxzfi5usLyvdrKocHLMjMxLjAw1KogICAg_aWlk=MTIzYXNk_bGluaw=aHR0cDovL3Byb2R1Y3QuZGFuZ2RhbmcuY29tL3Byb2R1Y3QuYXNweD9wcm9kdWN0X2lkPTEwMjI2MDcxMjEmcmVmPXByb2R1Y3QtMC1N_cGlj=aHR0cDovL2ltZzMxLmRkaW1nLmNuLzg1LzExLzEwMjI2MDcxMjEtMV90LmpwZw_cHJpY2U=MjQ4LjAw_dGV4dHR5cGU=MA_dGltZQ=MTM0ODE5MjU4MA_dGl0bGU=TkVXVE-Fo823xcYgxNDKv8fvv*60v8PeyrHJ0NDeye3M9c7Gs6TQ5FTQ9FcwMDc0MDA2ICAgIA_dHlwZQ=MQ_dg=MQ" name="__kaixin001"></a></span>
            </div>
        </div>
        <div class="info">
            <p class="price_d">当 当 价：<span id="salePriceTag" class="num promotions_price_d">￥248.00</span></p>
            <div class="property">
                <div id="color_wrap" class="color_wrap">
                    <dl class="color clearfix">
                        <dt>颜色：</dt>
                        <dd><a obj="pBox" id="cl_0" class="cl select" title="红黑色" href="javascript:void(0);">
                            <img width="30" height="30" src="http://img31.dangdang.com/86/0/1022607221-1_b.jpg"></a></dd>
                        <dd><a obj="pBox" id="cl_1" class="cl" title="蓝色" href="javascript:void(0);">
                            <img width="30" height="30" src="http://img31.dangdang.com/90/30/1022607621-1_b.jpg"></a></dd>
                    </dl>
                </div>
                <div id="size_wrap" class="size_wrap">
                    <dl class="size clearfix">
                        <dt>尺码：</dt>
                        <dd><a id="sl_0" class="sl" title="170/92(M)" href="javascript:void(0);">170/92(M)</a></dd>
                        <dd><a id="sl_1" class="sl select" title="175/96(L)" href="javascript:void(0);">175/96(L)</a></dd>
                        <dd><a id="sl_2" class="sl" title="180/100(XL)" href="javascript:void(0);">180/100(XL)</a></dd>
                        <dd><a id="sl_3" class="sl" title="185/104(XXL)" href="javascript:void(0);">185/104(XXL)</a></dd>
                    </dl>
                </div>
                <div class="num clearfix">
                    <label>我要买：</label><input type="text" class="text" id="buy_num" name="buy_num" value="1">件<span buy_num="1" style="display: none" class="wrong" id="buy_num_text">请输入购买数量</span>
                </div>
                <p id="itemMessage">请选择：颜色、尺码</p>
                <p><span class="select">已选择：</span>“红黑色”、“175/96(L)”</p>
                <div class="but clearfix">
                    <a name="__Shopcar_b2c" title="购买" href="javascript:;">
                        <img alt="" src="/content/images/but_buy.gif" /></a>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>
        <ul class="tab_title clearfix">
            <li name="__tab_detail_b2c" ><span>商品详情</span></li>
        </ul>
        <div class="item">
            <div class="mall_goods_foursort_style">
                <div class="clear"></div>
                <div class="mall_goods_foursort_style_frame"><a href="http://category.dangdang.com/all/?att=1:10327&amp;category_id=4008123" target="_blank">品牌：Originalboyman</a></div>
                <div class="mall_goods_foursort_style_frame">型号：ckj.k016hm</div>
                <div class="mall_goods_foursort_style_frame"><a href="http://category.dangdang.com/all/?att=15468:2&amp;category_id=4008123" target="_blank">种类：夹克</a></div>
                <div class="mall_goods_foursort_style_frame"><a href="http://category.dangdang.com/all/?att=18284:1&amp;category_id=4008123" target="_blank">分色分码换货：支持</a></div>
                <div class="mall_goods_foursort_style_frame"><a href="http://category.dangdang.com/all/?att=15471:8&amp;category_id=4008123" target="_blank">版型：修身</a></div>
                <div class="mall_goods_foursort_style_frame"><a href="http://category.dangdang.com/all/?att=15475:3&amp;category_id=4008123" target="_blank">领型：立领</a></div>
                <div class="mall_goods_foursort_style_frame"><a href="http://category.dangdang.com/all/?att=15476:8&amp;category_id=4008123" target="_blank">材质：涤纶</a></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
