@using Domain;
@using Web.Models;
@model Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <link href="/Content/Login.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <style type="text/css">
        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }
    </style>
</head>
<body>
    @if (null != ViewBag.access)
    {
        if (ViewBag.access)
        {
            string preUrl = "/";
            if (null != Request.QueryString["preurl"])
            {
                preUrl = Request.QueryString["preurl"];
            }
            Response.Redirect(preUrl);
        }
        else
        { 
            <script type="text/javascript">
                $(function () {
                    alert("用户名或密码错误");
                });
            </script>
        }
    }
    <div id="wrapper">
        <div id="head_wrap">
            <div id="header" class="clearfix">
                <h1>
                    <a rel="home" title="FASHION STORE" href="/">
                        @*<img src="/content/images/logo.png" />*@FASHION STORE
                    </a>
                </h1>
            </div>
            <!-- #header -->
        </div>
        <div id="body_wrap" class="unlogin member_page">
            <div id="content" class="clearfix">
                <div class="section">
                    <span class="sec_top_dark"></span>
                    <div class="sec_content clearfix">
                        <h2 class="text">登录</h2>
                        <div class="unlogin_form fl">
                            @using (Html.BeginForm())
                            {
                                <p>
                                    <label class="f_label" for="email">你的 Email 地址：</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "noime txt_input r3px" })

                                </p>
                                <p>
                                    <label class="f_label" for="password">密 码：</label>
                                    @Html.TextBoxFor(m => m.Password, new { @class = "txt_input r3px", type = "password" })
                                </p>
                                <p class="acts">
                                    <label class="f_check" for="autologin">
                                        @Html.CheckBoxFor(m => m.IsToRemeber, new { @checked = "true" })
                                        下次自动登录
                                    </label>
                                </p>
                                <p class="acts">
                                    <input class="text blue_btn blue_btn2 r3px f14" type="submit" value="登 录" name="submit">
                                </p>
                            }
                        </div>
                        <div class="unlogin_side fr">
                            <h4 class="f14">还没有账号? <a href="/main/register">注册</a></h4>
                        </div>
                        <!-- .unlogin_form -->
                    </div>
                    <span class="sec_bot_dark"></span>
                </div>
            </div>
            <!-- #content -->
        </div>
        <!-- #body_wrap -->
    </div>

</body>
</html>
